.nav {
  &--container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $lightGrey;
    height: 75px;
    align-items: center;
    padding: 0 20px;
  }

  &--logo--container {
    flex: 1;
    @include md {
      flex: 3;
    }
  }
  &--logo {
    display: inline-block;
    letter-spacing: 4px;
  }

  &--links {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}
