.profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.profile--header {
  background: white;
}

.profile--questions {
  display: flex;
  flex-direction: column;
}

.profile--split {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
