$niceBlack: #424242;
$mintGreen: #7adfb9;
$niceGrey: #eeeeee;
$lightGrey: #f7f9fa;
$backgroundBlack: #2e2e2e;
$success: #ee5934;
$textBlue: #253858;
$lightGrey: #f7f9fa;
$action: #ffc400;
$niceYellow: rgb(248, 207, 98);
$darkGreen: rgb(46, 79, 76);
$niceBlack: #424242;
$earth: #f5f6e9;
$niceGreen: #d7efee;
